pool:
  name: VSEng-MicroBuildVS2017
  demands: msbuild

variables:
  solution: 'MSBuildPrediction.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  signType: 'Test'
  teamName: 'MSBuild'

steps:
- task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@1
  displayName: 'Install Signing Plugin'
  inputs:
    signType: '$(SignType)'

- task: MSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildVersion: '16.0'
    msbuildArguments: '/bl'

- task: CopyFiles@2
  displayName: Collect Symbols
  inputs:
    SourceFolder: 'src/'
    Contents: '**\*.pdb'
    TargetFolder: '$(Build.ArtifactStagingDirectory)/symbols'
    CleanTargetFolder: true

- task: PublishBuildArtifacts@1
  displayName: Upload Symbols
  condition: eq(variables['system.pullrequest.isfork'], false)
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/symbols'
    ArtifactName: symbols
    ArtifactType: Container

- task: CopyFiles@2
  displayName: Collect Binaries
  inputs:
    SourceFolder: 'src/BuildPrediction/bin'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)/bin'
    CleanTargetFolder: true

- task: PublishBuildArtifacts@1
  displayName: Upload Binaries
  condition: eq(variables['system.pullrequest.isfork'], false)
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/bin'
    ArtifactName: bin
    ArtifactType: Container

- task: CopyFiles@2
  displayName: Collect Packages
  inputs:
    SourceFolder: 'src/BuildPrediction/bin/$(BuildConfiguration)'
    Contents: '*.nupkg'
    TargetFolder: '$(Build.ArtifactStagingDirectory)/pkg'
    CleanTargetFolder: true

- task: PublishBuildArtifacts@1
  displayName: Upload Packages
  condition: eq(variables['system.pullrequest.isfork'], false)
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/pkg'
    ArtifactName: pkg
    ArtifactType: Container

- task: CopyFiles@2
  displayName: Collect logs
  condition: eq(variables['system.pullrequest.isfork'], false)
  inputs:
    SourceFolder: ''
    Contents: '**\*.*log'
    TargetFolder: '$(Build.ArtifactStagingDirectory)/logs'
    CleanTargetFolder: true

- task: PublishBuildArtifacts@1
  displayName: Upload Logs
  condition: eq(variables['system.pullrequest.isfork'], false)
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/logs'
    ArtifactName: logs
    ArtifactType: Container
    
- task: CopyPublishBuildArtifacts@1
  displayName: 'Upload MicroBuildOutputs to drop'
  inputs:
    CopyRoot: '$(Build.StagingDirectory)\MicroBuild\Output'
    Contents: '**'
    ArtifactName: MicroBuildOutputs
    ArtifactType: Container
  continueOnError: true

- task: ms-vseng.MicroBuildTasks.521a94ea-9e68-468a-8167-6dcf361ea776.MicroBuildCleanup@1
  displayName: 'Execute cleanup tasks'
